<div class="container-sm">
  <h1>Confirmación de compra</h1>
  <div class="mt-5">
    <h5>Nombre: <label>{{ name }}</label></h5>
    <h5>Apellidos: <label>{{ lastname }}</label></h5>
    <h5>Correo electrónico: <label>{{ email }}</label></h5>
    <h5>Estación de salida: <label>{{ from }}</label></h5>
    <h5>Estación de llegada: <label>{{ to }}</label></h5>
    <h5>Cantidad de tiquetes: <label>{{ tickets }}</label></h5>
    <h3>Precio final: <label></label>{{ price }}</h3>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
</div>